$colors: (
	"background-primary": #1e2634,
	"background-secondary": #57729e,
	"translucent-bg-primary": #1e263455,
	"text-primary": #dadada,
);

$viewport-widths: (
	"small": 425px,
	"medium": 660px,
);

@function color($name, $type: null) {
	@if($type) {
		@return map-get($colors, $name + "-" + $type);
	}
	@return map-get($colors, $name);
}

@function viewport-width($size) {
	@return map-get($viewport-widths, $size);
}

@function getSpacingFromDim($dim, $max: 100%) {
	@return ($max - $dim) / 2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, main {
	height: 100%;
	width: 100%;
}


.circle-image {
	border-radius: 50%;
}

.vertical-bar:before {
	content: "\25cb";
}

.my-name.big {
	font-size: 1.25em;
}

.text-emphasis-color {
	color: #ecbe7a;
}

body {
	background-color: color("background", "primary");
	color: color("text", "primary");
	overflow: hidden;

	#bg {
		height: 220vh;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: color("background", "primary");
		z-index: -1;
		overflow: hidden;

		@media (min-width: viewport-width("medium")) {
			height: 120vh;
		}

		.parallax-bg {
			transform: translateZ(-2px) scale(3);
			transform-origin: top left;
		}

		.bg-circle {
			width: 0px;
			height: 0px;
			border-radius: 100%;
			position: absolute;
			opacity: 0.2;
		}

		.bg-circle--animated {
			animation: 1.5s ease forwards grow;
		}

		@keyframes grow {
			from {transform: scale(0);}
			to {transform: scale(1);}
		}
	}
}

main {
	overflow-y: auto;
	overflow-x: hidden;
	transform-style: preserve-3d;
	perspective: 1px;
	perspective-origin: top left;
}

section {
	$scroll-arrow-radius: 20px;
	.scroll-arrow {
		position: absolute;
		z-index: 2;
		width: $scroll-arrow-radius * 2;
		height: $scroll-arrow-radius * 2;
		top: -$scroll-arrow-radius;
		left: 0;
		right: 0;
		margin: 0 auto;
		border-radius: 50%;
		line-height: $scroll-arrow-radius * 2;
		text-align: center;
		background-color: color("background", "secondary");
		cursor: pointer;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

		&:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0px 5px 7px rgba(0, 0, 0, 0.18), inset 0 0 0 20px rgba(255, 255, 255, 0.15);
		}

		span:before {
			display: inline-block;
			color: color("text", "primary");
			transform: rotate(90deg);
			content: '\27A4';
		}
	}
}

#home-section {
	margin: 0 auto;
	height: 180vh;
	width: 90%;
	padding: 5vh 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;

	@media (min-width: viewport-width("small")) {
		width: 80%;
	}

	@media (min-width:  viewport-width("medium")) {
		height: 95vh;
		width: 90%;
		padding: 7.5vh 0;
		flex-flow: row nowrap;
	}

	.home-section__item {
		flex: 1 0 50%;
		min-width: 0;
	}

	.home-section__card {
		background-color: color("background", "secondary");
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		border-radius: 5px;
		padding: 30px;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 25% auto;
		justify-content: center;
		align-items: center;
		animation-name: slideIn;
		animation-duration: 1s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
		transform: translateX(-150%);
		transform-origin: center;
	}

	@keyframes slideIn {
		from { transform: translateX(-150%) }
		to {  transform: translateX(0) }
	}

	.home-section__card-item--header {
		height: 100%;
		position: relative;

		.home-section__image-bg {
			width: 100%;
			height: 100%;

			&, div {
				position: absolute;
				border-radius: 500px;
			}

			$diff-width: 20%;
			$big-width: 75%;
			$small-width: $big-width + $diff-width;
			$medium-width: $big-width - $diff-width;

			.big {
				top: 35%;
				bottom: 35%;
				left: getSpacingFromDim($big-width);
				right: getSpacingFromDim($big-width);
				background-color: color("background", "primary");
			}

			.medium {
				background-color: #4367a5;
				top: 40%;
				bottom: 40%;
				left: getSpacingFromDim($medium-width);
				right: getSpacingFromDim($medium-width);
			}

			.small {
				top: 47.5%;
				bottom: 47.5%;
				left: getSpacingFromDim($small-width);
				right: getSpacingFromDim($small-width);
				background-color: #6393e5;
			}
		}

		.home-section__image-container {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		img {
			object-fit: contain;
			height: 100%;
			display: block;
			margin: auto;
			border: 7px solid #6393e5;
		}
	}

	.home-section__card-item--content {
		padding: 10px 0;
		height: 100%;
		text-transform: capitalize;
		font-family: Helvetica,Roboto,Arial,sans-serif;
		text-align: center;
		color: color("text", "primary");

		:first-child {
			padding: 15px 0;
		}
	}

	.home-section__text {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		padding: 10px;
		color: color("text", "primary");
	}
}

#more-section {
	background-color: color("text", "primary");
	height: 100vh;
	width: 100vw;
	position: relative;
}
