@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
  width: 100%;
}

.circle-image {
  border-radius: 50%;
}

.vertical-bar:before {
  content: "○";
}

.my-name.big {
  font-size: 1.25em;
}

.text-emphasis-color {
  color: #ecbe7a;
}

body {
  background-color: #1e2634;
  color: #dadada;
  overflow: hidden;
}
body #bg {
  height: 220vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1e2634;
  z-index: -1;
  overflow: hidden;
}
@media (min-width: 660px) {
  body #bg {
    height: 120vh;
  }
}
body #bg .parallax-bg {
  transform: translateZ(-2px) scale(3);
  transform-origin: top left;
}
body #bg .bg-circle {
  width: 0px;
  height: 0px;
  border-radius: 100%;
  position: absolute;
  opacity: 0.2;
}
body #bg .bg-circle--animated {
  animation: 1.5s ease forwards grow;
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

main {
  overflow-y: auto;
  overflow-x: hidden;
  transform-style: preserve-3d;
  perspective: 1px;
  perspective-origin: top left;
}

#home-section {
  margin: 0 auto;
  height: 180vh;
  width: 90%;
  padding-top: 5vh;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 425px) {
  #home-section {
    width: 80%;
  }
}
@media (min-width: 660px) {
  #home-section {
    height: 100vh;
    width: 90%;
    padding: 7.5vh 0;
    flex-flow: row nowrap;
  }
}
#home-section .home-section__item {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
#home-section .home-section__card {
  background-color: #57729e;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 5px;
  padding: 30px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25% auto;
  justify-content: center;
  align-items: center;
  transform: translateX(-500px);
  transition: transform 0.7s;
  transform-origin: center;
}
#home-section .home-section__card-item--header {
  height: 100%;
  position: relative;
}
#home-section .home-section__card-item--header .home-section__image-bg {
  width: 100%;
  height: 100%;
}
#home-section .home-section__card-item--header .home-section__image-bg, #home-section .home-section__card-item--header .home-section__image-bg div {
  position: absolute;
  border-radius: 500px;
}
#home-section .home-section__card-item--header .home-section__image-bg .big {
  top: 35%;
  bottom: 35%;
  left: 12.5%;
  right: 12.5%;
  background-color: #1e2634;
}
#home-section .home-section__card-item--header .home-section__image-bg .medium {
  background-color: #4367a5;
  top: 40%;
  bottom: 40%;
  left: 22.5%;
  right: 22.5%;
}
#home-section .home-section__card-item--header .home-section__image-bg .small {
  top: 47.5%;
  bottom: 47.5%;
  left: 2.5%;
  right: 2.5%;
  background-color: #6393e5;
}
#home-section .home-section__card-item--header .home-section__image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#home-section .home-section__card-item--header img {
  object-fit: contain;
  height: 100%;
  display: block;
  margin: auto;
  border: 7px solid #6393e5;
}
#home-section .home-section__card-item--content {
  padding: 10px 0;
  height: 100%;
  text-transform: capitalize;
  font-family: Helvetica, Roboto, Arial, sans-serif;
  text-align: center;
  color: #dadada;
}
#home-section .home-section__card-item--content :first-child {
  padding: 15px 0;
}
#home-section .home-section__text {
  padding: 10px;
  color: #dadada;
}

#more-section {
  background-color: white;
  height: 100vh;
  width: 100vw;
}

/*# sourceMappingURL=main.css.map */
